@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body,
html {
  width: 100%;
  height: 100%;
}
/* font */
h1,
h2,
h3,
h4 {
  font-family: 'Hubballi', cursive;
}
h5,
p,
.wrap li {
  font-family: 'Comfortaa', cursive;
}
/* header */
.nav-link {
  color: #ffb0d8;
  font-size: large;
}
/* proj */
/* .carousel-item {
  transition: transform 2.6s ease-in-out;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
} */
.carousel-indicators [data-bs-target] {
    width: 10px; 
    height: 10px; 
    border-radius: 100%; 
}
.wrap {
  background: linear-gradient(80deg,#1dffff, #ec524b, #ff65e5, #ffc815);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
.contailer-fluid {
  margin-top: 7rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
