@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
/* aos overflow bug fix for mobile device */
body {
  overflow-x: hidden;
}
/* font */
h1,
h2,
h3,
h4 {
  font-family: 'Hubballi', cursive;
}
h5,
p,
.wrap li {
  font-family: 'Comfortaa', cursive;
}
/* header */
.nav-link {
  color: #f4623a;
  font-size: large;
}
/* proj */
/* .carousel-item {
  transition: transform 2.6s ease-in-out;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
} */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
body,
.wrap {
  background: linear-gradient(
    80deg,
    rgb(20, 40, 80),
    rgb(12, 123, 147),
    rgb(39, 73, 109),
    rgb(0, 168, 204)
  );
  color: white;
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
.contailer-fluid {
  margin-top: 7rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* floatig button back to top  */
.arrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9;
}
.arrow a {
  height: 20px;
  width: 20px;
  text-align: center;
  background: transparent;
  display: block;
}
.arrow a span {
  color: #000000;
  cursor: pointer;
}
.arrow .fas:hover {
  color: #00ff62;
}
