@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* font */
#name {
  font-family: 'Lobster', cursive;
}
h1,
h2,
h3,
h4
{
  font-family: 'Hubballi', cursive;
}
h5, p {
  font-family: 'Comfortaa', cursive;
}
/* hr */
hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  opacity: 1;
}
hr .divider-light {
  background-color: #fff;
}
hr .divider-dark {
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: #f4623a;
}
/* button */
.btn {
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0.25em,
      transparent 0.25em
    )
    center/1em 1.2em;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  border: black;
  transform: scale(1.1);
  background: radial-gradient(circle, #052fe7a9 0.25em, transparent 0.25em)
    center/0.1em 0.1em;
  box-shadow: 2px 3px rgba(75, 57, 233, 0.459);
}
/* header */

/* home-page */
.pp {
  width: 18vw;
  height: auto;
  border-radius: 50%;
}
#hero > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cta:hover {
  border: black;
  transform: scale(1.1);
  background: radial-gradient(circle, crimson 0.25em, transparent 0.25em)
    center/0.1em 0.1em;
  box-shadow: 2px 3px rgba(250, 0, 125, 0.459);
}
#hero {
  background-image: url('../images/backgrounds/home-bg1.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1,
#hero p {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 1s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 1s ease forwards;
  animation-delay: 3.5s;
}
#hero p {
  animation-delay: 4.5s;
}
#hero h1 span,
p span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}
#hero p span {
  animation-delay: 4s;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
/* about-me */
#about {
  background-image: url(../images/backgrounds/home-bg2.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#about::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

/* projects */
#projects {
  background-image: url(../images/backgrounds/home-bg3.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  padding-bottom: 3rem;
}
#projects::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden;
}

.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%;
}

.card:hover {
  color: rgb(153, 153, 153);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgb(26, 80, 141) 0%,
    rgb(193, 248, 207) 100%
  );
  animation: popBackground 0.5s ease-in;
}
@keyframes popBackground {
  0% {
    height: 0%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  25% {
    height: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
  }
  50% {
    height: 50%;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
  }

  75% {
    height: 75%;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%;
  }

  100% {
    height: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
}
/* skills */
#skills {
  background-image: url(../images/backgrounds/home-bg4.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#skills::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
/* contact */
.contact-wrap {
  background: url('../images/stars.png'), url('../images/mountains_front.png'),
    url('../images/mountains_behind.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}
.details a{
  color: #00ff62;
}
/* .detaills-wrap {
  background: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0.767) 50%,
      rgba(51, 51, 51, 0.767) 50%
    ),
    url('../images/contactdetails.jpg');
} */
.form-wrap {
  background: url('../images/stars.png');
}
.contact-container {
  border-radius: 10px;
  background: rgba(153, 151, 151, 0.308);
}
.details a:hover {
  color: rgb(238, 255, 0);
}
/* footer */
#footer {
  background-color: #8153907c;
}
.beforeend {
  background: url('../images/backgrounds/bg-dots.png');
}
.icons a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.icons a .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.icons a:nth-child(even):hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.icons a:nth-child(odd):hover .layer {
  transform: rotate(35deg) skew(20deg);
}

.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.icons a .layer span.fab {
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #4267b2;
  border-color: #4267b2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #14191e;
  border-color: #14191e;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #e1306c;
  border-color: #e1306c;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #2867b2;
  border-color: #2867b2;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
  color: #1c93e4;
  border-color: #1c93e4;
}

.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}

.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #14191e;
}

.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}

.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}

.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #1c93e4;
}

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
  bottom: -25px;
  opacity: 1;
}
